.footer {
    margin: 0px;
}


.footer__base {
    background: #e7e5dc ;
}

.block1_footer {
    margin: auto;
    display:flex;
    margin-top: 30%;

}


.block1_footer__logo {
    margin-left: 5%;
    margin-top: 20%;
}

.block1_footer__titre {
    font-family:'Lato', sans-serif; 
    font-size: 15px;
    margin-left: 5%;
    margin-top: 10%;
    
}

.block2_footer {
    margin-top: 0%;
}

.block2_footer__texte {
    font-family:'Lato', sans-serif ;
    font-size: 15px;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

.block2_footer__titre {
    font-family:'Lato', sans-serif ;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 15%;
    margin-left: 4%;
}

.block2_footer__contact {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 200%;
    margin-left: 7%;
}

.block2_footer__icone {
    width:40px;
    height: 40px;
    margin-left: 8%;
}

.footer_end {
    margin-top: 10%;
}

.footer_end__link {
    font-family: 'Lato', sans-serif;
    display: flex;
    font-size: 15px;
    justify-content: center;
    color:black;
    line-height: 140%;
    letter-spacing: 19%;
}

.footer_end__nom {
    font-family:'Lato', sans-serif ;
    font-size: 12px;
    text-align: center;
}