.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #E8CADA;
    display: grid;
    place-content: center;
}

.header__menu-btn {
    position: relative;
    z-index: 5;
    top: 0;
    right: 0;
    left: 100;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: none;
    border: none;
    appearance: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center; 


}


.menu-btn {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: none;
    border: none;
    appearance: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }


.menu__list {
    place-content: center;
    font-size: 20px;

}

.menu__list {
    text-align: center;
    line-height:230%;
}

.menu__link {
    font-family: 'Arya', sans-serif;
    color:black;
    text-decoration: none;
    font-size: var(--body2);
}