.art__image-cat1 {
    max-width: 100%;
    width:148px;
    height: 814px;
    left:0;
    position:relative;
    padding-top: 5%;
} 

.cat1 {
    display: flex;
    padding-top: 20%;
}

.lireextrait {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.art__image-cat2 {
    max-width: 100%;
    width:220px;
    height: 875px;
    margin-left: 44%;
    position:relative;
    z-index: -1;
    padding-top: 5%;
}

.cat2{
    display: flex;
    padding-top: 20%;
}

.signature {
    font-family: 'Reenie Beanie', cursive;
    font-size: 27px;
    padding-left: 50%;
}

