.art__image-claude {
    max-width: 100%;
    width:146px;
    height: 612px;
    right:0;
    position:relative;
    margin-left: 64%;
    padding-top: 5%;

}

.frise__image {
    width:262px;
    height: 192px;
    border-radius: 1cm;
    margin-left: 11%;
    
    
}

.frise {
    background-color: #DC8DB3;
    padding: 5%;
    margin: 5%;
    border-radius: 1cm;
}

.frise__date {
    font-size: 25px;
    font-family: 'Reenie Beanie', cursive;
    text-align: center;
}

.frise__texte {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}

.article__frise {
    padding-top: 10%;
}



.orangerie1{
    display: flex;
    padding-top: 20%;
}

