.art__image-techno {
width:169px;
height:687px;
padding-top: 5%;
    
}

.techno1{
    display: flex;
    padding-top: 20%;
}

.art__image-telephone{
    width:149px;
    height:647;
    margin-left: 65%;
    padding-top: 5%;
}

.techno2 {
    display:flex;
    padding-top: 20%;
}

.video {
    max-width: 100%;
    width: 350px;
    padding:5% ;
    border-radius:1cm ;
}